<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jesussoto.android.jokedisplayer" >

    <application>

        <activity android:name=".JokeDisplayerActivity"
            android:theme="@style/Theme.JokeDisplayer"
            android:launchMode="singleTop"/>

    </application>

</manifest>
